.label {
    text-align: center;
    font-size: 300px;
    color: black;
}

.body {
    background-color: rgb(255, 0, 0);
    height: 100%;
}

.titre {
    text-align: center;
    font-size: 50px;
}

.bande {
    background-color: black;
    height: 50px;
}