.label {
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: Saira Stencil One;
}

.body {
    background-color: #36413E;
    height: 100%;
}

.h1 {
    font-family: Silkscreen;
    text-align: center;
    font-size: 34px;
    margin: 0;
    padding: 5px;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    
}

.h2 {
    font-family: Silkscreen;
    text-align: center;
    font-size: 34px;
    /* margin: 0;
    padding: 5px; */
    color: white;
}



