.label {
    text-align: center;
    font-size: 300px;
    color: white;
    font-family: Saira Stencil One;
}

.body {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.h1 {
    font-family: Silkscreen;
    text-align: center;
    font-size: 34px;
    margin: 0;
    padding: 5px;
    color: white;
}

.container {
    background-color: #36413E;
    height: 95%;
    position: absolute;
    top: 2.5%;
    width: 100%;
}



